.file {
  margin-top: 10px;
  border-bottom: 2px solid #566885;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
}

.file:hover {
  transform: scale(1.02);
}

.file__img {
  justify-self: center;
  width: 48px;
  height: 48px;
}

.file__date {
  grid-column-start: 5;
  justify-self: center;
}

.file__size {
  grid-column-start: 6;
  justify-self: center;
}

.file__btn {
  display: none;
}

.file:hover .file__date {
  grid-column-start: 3;
}

.file:hover .file__size {
  grid-column-start: 4;
}

.file:hover .file__download {
  grid-column-start: 5;
  display: block;
}

.file:hover .file__delete {
  grid-column-start: 6;
  display: block;
}
