body {
  background-color: lightblue;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #566885;
  font-family: sans-serif;
}

.wrap {
  width: 1140px;
  display: flex;
  flex-direction: column;
}
