.authorization {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  border-radius: 20px;
  padding: 30px;
  background-color: #fff;
  align-self: center;
  margin-top: 100px;
}

.authorization__header {
  font-size: 30px;
  font-weight: 700;
}

input {
  margin: 5px 20px;
}

.authorization__button {
  border: none;
  background-color: #566885;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  padding: 5px 10px;
  align-self: flex-end;
  margin-top: 10px;
  cursor: pointer;
}

.authorization__button:hover {
  background-color: #766995;
}
