.disk {
  margin-top: 20px;
}

.disk__upload-input {
  display: none;
}

.disk__upload-label {
  border: 2px dashed #566885;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}


.disk__btns {
  display: flex;
}

.disk__create {
  margin-left: 10px;
}

.popup {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.popup__header {
  display: flex;
  justify-content: space-between;
}

.popup__input {
  margin: 20px 0;
}

.popup__create {
  align-self: flex-end;
}

.drop-area {
  width: 100%;
  height: calc(100vh - 50px - 40px);
  margin: 20px;
  border: 2px dashed #566885;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
