.navbar {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  background-color: #fff;
}

.navbar__logo {
  width: 40px;
  height: 34px;
}

.navbar__login {
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
}

.navbar__login:hover,
.navbar__link:hover {
  color:aquamarine;
}

.navbar__header {
  font-size: 24px;
  margin-left: 10px;
  font-weight: 700;
}

.container {
  width: 1140px;
  display: flex;
  align-items: center;
}

.navbar__link {
  text-decoration: none;
}
